@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContactUs>
@{
    Layout = "Master.cshtml";
    var umbracoModel = Model.Content;
}

<main id="contact-us" class="container">
    <h1 class="mb-3 margin-top40">
        @umbracoModel.HeaderText
    </h1>
    <div class="row">
        @{
            Html.RenderPartial("BreadCrumbs", Model);
        }
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <img src="http://placehold.it/800x400/" alt="" class="img-fluid" />
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>@umbracoModel.DetailsHeader</h3>
            <p>
                @foreach (var item in umbracoModel.DetailsAddress)
                {
                    <br />@item
                }
            </p>
            <ul>
                @foreach (var number in umbracoModel.DetailsPhoneNumber)
                {
                    <li>
                        <a href="tel:@number">@number</a>
                    </li>
                }
            </ul>
            <p>
                <a href="mailto:@umbracoModel.DetailsEmail">@umbracoModel.DetailsEmail</a>
            <p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Contact Form -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <h3>Send us a Message</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone Number:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
            </form>
        </div>
    </div>

    @* The form to use
        @using (Ajax.BeginForm(
                       actionName: "Contact",
                       routeValues: null,
                       ajaxOptions: new AjaxOptions
                       {
                           HttpMethod = "Post",
                           OnSuccess = "showStatus",
                           OnFailure = "showStatus",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "result-message"
                       },
                       htmlAttributes: new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Sender, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.Sender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Sender)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SenderAddress, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.SenderAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SenderAddress)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Message, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-9">
                    @Html.TextAreaFor(m => m.Message, 5, 0, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>
        }
        <!-- /.row -->

    *@
</main>